<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="Teletraan（浙江天垂科技有限公司）是由斯坦福大学校友创立的新一代PaaS，SaaS公司。我们致力于将先进的大数据、机器学习和人工智能技术应用于工业物联网，打造一个基于云端的高性能预测分析平台。大数据平台,敏捷软件开发,预测与优化" />
    <meta name="description" content="我们服务的行业包括：金融、能源、汽车、医疗等领域。我们正在建设可以洞察行业痛点的软件平台，为企业的生产、研发、决策等提供重要依据。我们实行敏捷开发，以速度和质量满足现实的业务需求，为客户提供高质量的解决方案，与客户共赢发展。" />
    <meta name="baidu-site-verification" content="VfQyyZsSsQ" />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <title><%= __('home.title') %></title>
    <%- partial('_partial/header') %>
</head>
<body>
<div class="main">
    <%- body %>
</div>
<%- partial('_partial/footer') %>
</body>
</html>